@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-text-primary: hsl(185, 44%, 97%);
  --clr-text-secondary: hsl(185, 44%, 87%);
  --clr-text-faded: hsla(185, 44%, 67%, 0.5);
  --clr-btn-primary: hsl(223, 20%, 51%);
  --clr-background-solid: hsla(224, 20%, 11%, 1);
  --clr-background-semi: hsla(224, 20%, 11%, 0.8);

  --text-xsmall: clamp(0.4rem, 0.6vw + 0.3rem, 0.5rem);
  --text-small: clamp(0.55rem, 0.8vw + 0.4rem, 0.75rem);
  --text-medium: clamp(0.75rem, 1vw + 0.5rem, 0.95rem);
  --text-large: clamp(0.9rem, 1.2vw + 0.6rem, 1rem);
  --text-xlarge: clamp(1.1rem, 1.4vw + 0.7rem, 1.2rem);

  --text-title-xsmall: clamp(1.1rem, 1.6vw + 0.8rem, 1.6rem);
  --text-title-small: clamp(1.4rem, 2vw + 1rem, 2rem);
  --text-title-medium: clamp(1.7rem, 2.4vw + 1.2rem, 2.5rem);
  --text-title-large: clamp(2.1rem, 2.8vw + 1.4rem, 3rem);

  --gap-extra-small: clamp(0.25em, 1vw, 0.75em);
  --gap-small: clamp(0.5em, 2vw, 1.5em);
  --gap-medium: clamp(1em, 4vw, 3em);
  --gap-large: clamp(2em, 8vw, 6em);
  --padding-small: min(0.5em, 2%);
  --padding-medium: min(1em, 4%);
  --padding-large: min(2em, 6%);
  --padding-section: min(3em, 4%);

  --box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
  --text-shadow: 0 0 3px rgb(0, 0, 0);
  --box-shadow-inset: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);

  --weight-light: 200;
  --weight-normal: 400;
  --weight-bold: 600;
  --weight-xbold: 800;
}

@property --deg {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

/* universal styles  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-text-primary);
  font-size: var(--text-medium);
  background-color: #010101;
  background-image: radial-gradient(at 50% 46%, #010101 0%, transparent 60%),
    radial-gradient(at 72% 88%, #69779b 0%, transparent 50%),
    radial-gradient(at 12% 91%, #acdbdf 0%, transparent 40%),
    radial-gradient(at 80% 56%, #f0ece2 0%, transparent 30%);
}

/* link color, after clicked, hovered state, on click */

a,
a:link,
a:visited,
a:active {
  color: var(--clr-text-primary);
}

a:hover {
  color: var(--clr-text-secondary);
}

.btn-style {
  font-size: var(--text-large);
  color: var(--clr-text-primary);
  background-color: var(--clr-btn-primary);
  padding: var(--padding-small);
  border: 1px solid var(--clr-btn-primary);
  border-radius: 3px;
  box-shadow: var(--box-shadow);
  text-shadow: var(--text-shadow);
  box-shadow: var(--box-shadow-inset);
  cursor: pointer;
}

.btn-style:hover {
  border: 1px solid var(--clr-btn-primary);
  background-color: transparent;
  box-shadow: unset;
  color: var(--clr-text-secondary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-small);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* header section  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium);
}

h1 {
  font-size: var(--text-title-xsmall);
  font-weight: var(--weight-normal);
}

nav ul {
  display: none;
  gap: var(--gap-small);
}

.nav-btn-style {
  color: var(--clr-text-primary);
  background-color: transparent;
  font-size: var(--text-title-xsmall);
  border: transparent;
  cursor: pointer;
}

/* hero section  */

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-section);
  gap: var(--gap-small);
  width: 100%;
}

.hero-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: var(--padding-medium);
  width: 100%;
}

.hero-header p:nth-child(1) {
  font-size: var(--text-title-small);
  font-weight: var(--weight-normal);
}

.hero-header p:nth-child(2) {
  font-size: var(--text-large);
  margin-left: 60px;
  font-weight: var(--weight-light);
}

.hero-header p:nth-child(3) {
  font-size: var(--text-xlarge);
  margin-left: 25px;
  font-weight: var(--weight-light);
}

.hero-header h2 {
  font-size: var(--text-title-medium);
  font-weight: var(--weight-bold);
  text-align: center;
  margin-top: 20px;
  position: relative;
  align-self: center;
}

.hero-header span {
  color: var(--clr-btn-primary);
  margin-left: 10px;
}

.hero-header-btn-wrapper {
  padding: var(--padding-medium);
  gap: var(--gap-medium);
  display: flex;
  justify-content: center;
}

.hero-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-section .img-wrapper {
  height: 225px;
  width: 225px;
  border-radius: 50%;
}

.hero-section .img-wrapper img {
  border-radius: 50%;
  object-position: center 20%;
  box-shadow: var(--box-shadow);
}

/* banner section  */

.banner-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--gap-small);
  overflow: hidden;
  width: 100%;
}

.language-container,
.icon-container {
  white-space: nowrap;
  display: inline-flex;
  overflow: hidden;
  width: 250%;
  position: relative;
  background-color: var(--clr-background-semi);
}

.language-container::after,
.icon-container::after {
  content: "";
  position: absolute;
  width: 100vw;
  left: 0;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to right,
    #000 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 90%,
    #000 100%
  );
}

.banner-one {
  position: absolute;
  left: -100%;
}

.banner-one,
.banner-one-duplicate {
  display: flex;
  width: 100%;
  font-size: var(--text-large);
  color: var(--clr-text-faded);
  justify-content: space-around;
  animation: scrollRight 50s linear infinite;
  animation-play-state: running;
}

.banner-two,
.banner-two-duplicate {
  display: flex;
  width: 100%;
  justify-content: space-around;
  animation: scrollLeft 50s linear infinite;
  animation-play-state: running;
}

.banner-two-duplicate {
  position: absolute;
  left: 100%;
}

.icon-wrapper {
  width: clamp(50px, 4vw, 110px);
  height: auto;
}

/* about me section  */

.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);
  padding: var(--padding-section);
  width: 100%;
}

.bullet-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  gap: var(--gap-small);
  font-size: var(--text-xlarge);
  color: var(--clr-text-secondary);
  padding: var(--padding-large);
}

.bullet-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-large);
}

.bullet-container i {
  font-size: var(--text-title-small);
}

.about-me-container {
  padding: var(--padding-large);
  background-color: var(--clr-background-semi);
  border-radius: 10px;
  max-width: 600px;
}

.about-me-container h3 {
  font-size: var(--text-title-small);
  margin: 10px;
  text-align: center;
  font-weight: var(--weight-normal);
}

.about-me-container p {
  text-indent: 2em;
}

/* projects section */

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: var(--gap-medium);
  padding: var(--padding-section);
}

.projects-section h4 {
  font-size: var(--text-title-small);
  font-weight: var(--weight-normal);
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
  width: 100%;
}

.project-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-medium);
  width: 100%;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.project-card {
  position: relative;
  aspect-ratio: 16 / 9;
  max-width: 500px;
  width: 100%;
  font-size: var(--text-small);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--clr-background-solid);
}

.project-card:nth-of-type(even)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  filter: blur(10px);
  border: 10px solid var(--clr-btn-primary);
  transform: translateX(20px) translateY(15px);
  z-index: -1;
}

.project-card h5 {
  font-size: var(--text-title-xsmall);
}

.project-card p {
  font-size: var(--text-small);
  text-indent: 2em;
}

.card-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: var(--text-medium);
}

.card-wrapper span {
  background-color: var(--clr-text-faded);
  padding: 5px 10px;
  border-radius: 15px;
}

/* project card backgrounds */

.project-card-one {
}

.project-card-two {
}

.project.card-three {
}

.project-card-four {
}

.project-card-five {
}

.project-card-six {
}

/* contact section  */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--gap-small);
  padding: var(--padding-medium);
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--padding-large);
  gap: var(--gap-extra-small);
  background-color: var(--clr-background-semi);
  border-radius: 10px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-extra-small);
}

form h5 {
  font-size: var(--text-title-small);
  font-weight: var(--weight-normal);
}

form button {
  width: min-content;
  margin: 10px;
}

input {
  width: clamp(200px, 50%, 350px);
  padding: var(--padding-small);
  border: 1px solid var(--clr-text-faded);
  border-radius: 8px;
  background: linear-gradient(to right, #000, var(--clr-background-semi));
  color: var(--clr-text-primary);
}

textarea {
  width: clamp(200px, 80%, 350px);
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 16 / 9;
  padding: var(--padding-small);
  border: 1px solid var(--clr-text-faded);
  border-radius: 8px;
  background: linear-gradient(to right, #000, var(--clr-background-semi));
  color: var(--clr-text-primary);
}

/* footer section  */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-small);
  padding: var(--padding-medium);
  border-top: 2px solid var(--clr-text-primary);
}

footer h6 {
  font-size: var(--text-small);
  font-weight: var(--weight-normal);
}

/* mobile 360 - 768px  mobile*/
/* 768px-1023px tablet */

@media (min-width: 768px) {
  header nav ul {
    display: flex;
  }
  header nav button {
    display: none;
  }

  .hero-section {
    flex-direction: row;
  }

  .language-container,
  .icon-container {
    width: 150%;
  }

  .about-me-section {
    flex-direction: row;
  }
}

@media (min-width: 1023px) {
  .project-card-wrapper {
    flex-direction: row;
  }
}
